gradio
ultralytics
torch
torchvision
transformers
accelerate
pillow
opencv-python-headless
tensorflow
numpy
pandas
requests
Flask
accelerate
bitsandbytes
sentencepiece
protobuf
safetensors
huggingface_hub
peft
einops
timm
